{% macro getAvatar(entity_field, type, opts) %}
    {% import _self as userMacro %}
    {% if  type == 'activity' %}
        {{ userMacro.getAvatarActivity(entity_field, type, opts) }}
    {% elseif type == 'profil' or type == 'myProfil' %}
        {{ userMacro.getAvatarProfil(entity_field, type, opts) }}
    {% endif %}
{% endmacro %}

{% macro getAvatarProfil(entity_field, type, opts) %}
    {% import _self as userMacro %}
    {% if type == 'myProfil' %}
        {% if not entity_field == null %}
            {% set avatar_name = asset('uploads/img/' ~ entity_field.name) %}
        {% else %}
            {% set avatar_name = asset('assets/app/img/img_avatar2.png') %}
        {% endif %}

        {% set opts_string = '' %}
        {% if not opts == 'inModal' %}
            {% set opts_string = ' data-toggle=modal data-target=#modalAvatar' %}
        {% endif %}
        {{ userMacro.getImg('img-circle img-thumbnail currentAvatar center-block', avatar_name, 'Image couverture', opts_string) }}
    {% elseif type == 'friendProfil' %}

    {% endif %}
{% endmacro %}

{% macro getAvatarActivity(entity_field, type, opts) %}
    {% import _self as userMacro %}
    {% if not entity_field == null %}
        {% set avatar_name = asset('uploads/img/' ~ entity_field.name) %}
    {% else %}
        {% set avatar_name = asset('assets/app/img/img_avatar2.png') %}
    {% endif %}
    {{ userMacro.getImg('img-circle activity-avatar', avatar_name, 'Avatar') }}
{% endmacro %}

{% macro getImg(class, src, alt, opts) %}
    <img class="{{ class }}" src="{{ src }}" alt="{{ alt }}" {% if opts is defined %}{{ opts }}{% endif %}>
{% endmacro %}

{% macro getConfidentiality(confidentiality_field_value, confidentiality_field_text, text) %}
    {% if confidentiality_field_value %}
        {% set title = 'Visible' %}
        {% set public = 'true' %}
        {% set fa = '' %}
    {% else %}
        {% set title = 'Masqué' %}
        {% set public = 'false' %}
        {% set fa = '-slash' %}
    {% endif %}
    <span class="confidentiality" id="publicPrenom"
          data-public="{{ public }}" data-zone="{{ text|title }}">
        <i class="fa fa-eye{{ fa }}" aria-hidden="true" data-toggle="tooltip" title="{{ title }}"></i>
    </span>
    <span id="zone{{ text }}" data-zone="{{ text|title }}">
        {{ text }} : <a href="#">{{ confidentiality_field_text }} <i class="fa fa-pencil" aria-hidden="true"></i></a>
    </span>
{% endmacro %}

{% macro getUserProfilName() %}
    {% if (not app.user.firstname == null or not app.user.firstname == '') and (not app.user.lastname == null or not app.user.lastname == '') %}
        {% set user_profil_name = app.user.firstname ~ ' ' ~ app.user.lastname %}
    {% else %}
        {% set user_profil_name = app.user.username %}
    {% endif %}
    {{ user_profil_name }}
{% endmacro %}

