{% if profil is defined %}
    {% set col = '8' %}
{% else %}
    {% set col = '12' %}
{% endif %}
<div class="col-md-{{ col }} activity activity-form-body">
    {% for message in app.session.flashbag.get('error_add_activity') %}
        <div class="alert alert-danger alert-add-activity">
            <p>{{ message }}</p>
        </div>
    {% endfor %}
    {{ form_start(form_add_activity) }}
    <div class="row">
        <div class="col-md-12">
            {{ form_widget(form_add_activity.message) }}
            <span class="btnAddPicture pull-right">
                <i id="btnAddPictures" class="fa fa-picture-o fa-lg" aria-hidden="true"></i>
                <input id="btnSubmitNewActu" type="submit" class="btn btn-info btn-sm" value="{{ "sb.activity.form.button"|trans }}">
            </span>
        </div>
    </div>
    <div class="row"><div class="col-md-12"><div id="listImageAddActu" class="is_hidden"></div></div></div>
    <span class="is_hidden" id="blockFormNewActu">
        {{ form_widget(form_add_activity.image) }}
    </span>
    {{ form_end(form_add_activity) }}
    <img id="image-preview-input" class="img-responsive hidden" src="" alt="Image preview">
</div>
