{% extends 'SBCoreBundle::layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/app/css/activity.css') }}">
{% endblock stylesheets %}

{% block javascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('assets/external/libs/autogrow-textarea/jquery.autogrowtextarea.min.js') }}"></script>
    <script src="{{ asset('assets/app/js/activity.js') }}"></script>
{% endblock javascripts %}

{% block body %}
    <div class="container">
        <div class="col-md-4 activity-form">
            <div class="row">
                <div class="col-md-12 activity activity-form-body">
                    {{ form_start(form_add_activity) }}
                        <div class="row">
                            <div class="col-md-12">
                                <!--<textarea class="form-control" placeholder="Publiez quelque chose !"
                                          id="textareaAddActu" name="activity_message"></textarea>-->
                                {{ form_widget(form_add_activity.message) }}
                                <span class="btnAddPicture pull-right">
                                    <i id="btnAddPictures" class="fa fa-picture-o fa-lg" aria-hidden="true"></i>
                                    <input id="btnSubmitNewActu" type="submit" class="btn btn-info btn-sm" value="Publier">
                                </span>
                            </div>
                        </div>
                        <div class="row"><div class="col-md-12"><div id="listImageAddActu" class="is_hidden"></div></div></div>
                        <span class="is_hidden" id="blockFormNewActu">
                            {{ form_widget(form_add_activity.image) }}
                            <!--<input type="file" accept="image/*" id="inputImages" name="activity_images[]" multiple>-->
                        </span>
                    {{ form_end(form_add_activity) }}
                </div>
            </div>
        </div>
        <div class="col-md-8">
            {% for activity in list_activity %}
                <div class="row">
                    <div class="col-md-6 activity" data-activity="{{ activity.id }}">
                        <div class="row activity-top">
                            <div class="col-xs-1">
                                <img class="img-circle" src="https://dummyimage.com/40x40/c9c9c9/000000" alt="...">
                            </div>
                            <div class="col-xs-11 no-pr">
                                <div class="col-xs-12">
                                    <b>{{ activity.user.username }}</b>
                                    <div class="btn-group pull-right">
                                        <button type="button" class="btn btn-default btn-xs dropdown-toggle"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li><a href="#">Action</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href="#">Separated link</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xs-12 activity-date">
                                    <em class="text-muted">{{ activity.dateActivity|date('d/m/Y') }}</em>
                                </div>
                            </div>
                        </div>

                        <div class="row activity-middle">
                            <div class="col-xs-12">
                                <p>{{ activity.message|raw|nl2br }}</p>
                                {% if not activity.image == null %}
                                    <img src="{{ asset('uploads/img/' ~ activity.image.name) }}" class="activity-image">
                                {% endif %}
                            </div>
                        </div>

                        <div class="row activity-bottom">
                            <div class="col-xs-12">
                                {% if activity.nbLikes < 2 %}
                                    {% set like_text = " J'aime" %}
                                {% else %}
                                    {% set like_text = " J'aimes" %}
                                {% endif %}

                                {% if activity.likes|length > 0 %}
                                    {% set like_class = 'btn btn-success btn-xs btn-dislike' %}
                                {% else %}
                                    {% set like_class = 'btn btn-primary btn-xs btn-like' %}
                                {% endif %}

                                <button type="button" class="{{ like_class }}">
                                    {{ activity.nbLikes ~ like_text }}
                                </button>
                                <span class="pull-right">
                                    {% if activity.nbComments < 2 %}
                                        {% set comment_text = " Commentaire" %}
                                    {% else %}
                                        {% set comment_text = " Commentaires" %}
                                    {% endif %}
                                    <button type="button" class="btn btn-primary btn-xs btn-show-comments"
                                            data-activity="{{ activity.id }}">
                                        {{ activity.nbComments ~ comment_text }}
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="row activity-comments is_hidden">
                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object img-circle"
                                             src="https://dummyimage.com/64x64/c9c9c9/000000" alt="..." style="max-width: 40px">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <b class="media-heading">Username</b>
                                    <p>
                                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                                        praesentium voluptatum deleniti atque corrupti quos dolores.
                                    </p>
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object img-circle"
                                             src="https://dummyimage.com/64x64/c9c9c9/000000" alt="..." style="max-width: 40px">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <b class="media-heading">Username</b>
                                    <p>
                                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                                        praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
                                        excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui
                                        officia deserunt mollitia animi, id est laborum et dolorum fuga.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row activity-add-comment">
                            <textarea class="form-control autogrow" rows="1" placeholder="Ajoutez un commentaie"
                                      id="textareaAddComment"></textarea>
                            <button class="btn btn-default btn-xs btn-add-comment">
                                <i class="fa fa-paper-plane" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock body %}