{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/app/css/activity.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/external/libs/animate.css/animate.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/external/libs/feedback/stable/2.0/feedback.min.css') }}" />
{% endblock stylesheets %}

{% block javascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="http://localhost:3000/faye/client.js"></script>
    <script src="{{ asset('assets/external/libs/autogrow-textarea/jquery.autogrowtextarea.min.js') }}"></script>
    <script src="{{ asset('assets/external/libs/remarkable-bootstrap-notify/bootstrap-notify.min.js') }}"></script>
    <script src="{{ asset('assets/external/libs/waypoints/lib/jquery.waypoints.min.js') }}"></script>
    <script src="{{ asset('assets/app/js/activity.js') }}"></script>
    <script src="{{ asset('assets/external/libs/feedback/stable/2.0/feedback.min.js') }}"></script>
    <script src="{{ asset('assets/app/js/app.js') }}"></script>
    {% block js %}
    {% endblock js %}
{% endblock javascripts %}

{% block content %}
    {% include 'SBCoreBundle::navbar.html.twig' %}
    <div class="container">
        {% block body %}
        {% endblock body %}
    </div>
{% endblock content %}