{% extends 'SBCoreBundle::layout.html.twig' %}

{% block title %}
    Mon profil -
{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/app/css/profil.css') }}">
{% endblock stylesheets %}


{% block js %}
    <script src="{{ asset('assets/external/libs/jquery-ui/jquery-ui.min.js') }}"></script>
    <!--<script src="{{ asset('assets/external/libs/JQ-Image-Drag/script/jquery.imagedrag.min.js') }}"></script>-->
    <script src="{{ asset('assets/app/js/profil.js') }}"></script>
{% endblock js %}

{% block body %}
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <article class="no-padding">
                    <div id="blocks-couverture">
                        <img src="http://www.photo-paysage.com/images_accueil/Plus-belles-photos-de-nature.jpg"
                             class="img-responsive" id="currentCover" alt="Image couverture">
                        <span>
                            <i class="fa fa-pencil-square fa-3x" aria-hidden="true" data-toggle="modal"
                               data-target="#modalCover"></i>
                        </span>
                    </div>
                    <div id="blocks-profil">
                        <img src="http://www.w3schools.com/bootstrap/img_avatar3.png" class="img-circle img-thumbnail currentAvatar" alt="Image couverture">
                    </div>
                    <div id="blocks-nav-profil">
                        {% if not app.user.firstname == null and not app.user.lastname == null %}
                            {% set user_profil_name = app.user.firstname ~ ' ' ~ app.user.lastname %}
                        {% else %}
                            {% set user_profil_name = app.user.username %}
                        {% endif %}
                        <ul>
                            <li><h4>{{ user_profil_name }}</h4></li>
                            <li>
                                <a href="#" class="btn btn-infos" id="btnSubmitNewActu">
                                    <i class="fa fa-cogs" aria-hidden="true"></i> Mes paramètres
                                </a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-infos" id="btnSubmitNewActu">
                                    <i class="fa fa-picture-o" aria-hidden="true"></i> Mes images
                                </a>
                            </li>
                        </ul>
                    </div>
                </article>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3 ml-20 mr-50 mt-20">
                        <div class="row">
                            <div class="col-md-12 activity pb-20" id="blocks-user-information">
                                <h4><i class="fa fa-info" aria-hidden="true"></i> Mes informations</h4>
                                <p class="popover-wrapper">
                                    <span id="publicPrenom" data-public="true">
                                        <i class="fa fa-eye" aria-hidden="true" data-toggle="tooltip" title="Public"></i>
                                    </span>
                                    Prenom :
                                    <a href="#">{{ app.user.firstname }} <i class="fa fa-pencil" aria-hidden="true"></i></a>
                                </p><br>
                                <p class="popover-wrapper">
                                    <span id="publicNom" data-public="true">
                                        <i class="fa fa-eye" aria-hidden="true" data-toggle="tooltip" title="Public"></i>
                                    </span>
                                    Nom :
                                    <a href="#">{{ app.user.lastname }} <i class="fa fa-pencil" aria-hidden="true"></i></a>
                                </p><br>
                                <p class="popover-wrapper">
                                    <span id="publicPays" data-public="false">
                                        <i class="fa fa-eye-slash" aria-hidden="true" data-toggle="tooltip" title="Non public"></i>
                                    </span>
                                    Pays :
                                    <a href="#">{{ app.user.pays }} <i class="fa fa-pencil" aria-hidden="true"></i></a>
                                </p><br>
                                <p class="popover-wrapper">
                                    <span id="publicRegion" data-public="false">
                                        <i class="fa fa-eye-slash" aria-hidden="true" data-toggle="tooltip" title="Non public"></i>
                                    </span>
                                    Région :
                                    <a href="#">{{ app.user.region }} <i class="fa fa-pencil" aria-hidden="true"></i></a>
                                </p><br>
                                <p class="popover-wrapper">
                                    <span id="publicVille" data-public="true">
                                        <i class="fa fa-eye" aria-hidden="true" data-toggle="tooltip" title="Public"></i>
                                    </span>
                                    Ville :
                                    <a href="#">{{ app.user.ville }} <i class="fa fa-pencil" aria-hidden="true"></i></a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 mt-20">
                        <div class="row">
                            {% include('SBActivityBundle:activity:form_add.html.twig') %}
                        </div>
                        <div id="container-activity" data-total-ativity="{{ number_of_activity }}">
                            {% include('SBActivityBundle:activity:activity.html.twig') %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Cover -->
    <div class="modal fade" id="modalCover" tabindex="-1" role="dialog" aria-labelledby="modalCoverLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalCoverLabel">Modifier ma couverture</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-mxs-12">
                            <h5 class="text-center">Image de couverture actuelle :</h5>
                            <img src="http://www.photo-paysage.com/images_accueil/Plus-belles-photos-de-nature.jpg"
                                 alt="Image de couverture actuelle" class="img-responsive center-block"
                                 style="max-height: 200px"/>
                        </div>
                        <hr>
                        <div class="col-mxs-12" id="test">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-primary" id="btnChangeCover">Sauvegarder</button>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}