<span class="sr-only nb-comments">{{ nb_comments }}</span>
{% if not ajax is defined and nb_comments > comments|length %}
    <div class="row">
        <div class="col-xs-12 text-center">
            <button class="btn-link btn-show-more-comments" href="#">Voir plus</button>
        </div>
    </div>
{% endif %}
{% for comment in comments %}
    <div class="media" data-comment="{{ comment.id }}">
        <div class="media-left">
            <a href="{{ path('sb_user_profil', {slugUsername: comment.user.slug}) }}">
                <img class="media-object img-circle"
                     src="https://dummyimage.com/40x40/c9c9c9/000000" alt="..." >
            </a>
        </div>
        <div class="media-body">
            <a href="{{ path('sb_user_profil', {slugUsername: comment.user.slug}) }}">
                <b class="media-heading">{{ comment.user.username }}</b>
            </a> <em class="text-muted">{{ comment.dateComment|date('d/m/Y H:i:s') }}</em>
            <p>{{ comment.text|isSecure }}</p>
        </div>
    </div>
{% else %}
    <div class="alert alert-info alert-comment no-margin">
        <p>Aucun commentaire</p>
    </div>
{% endfor %}
