{% extends 'SBCoreBundle::layout.html.twig' %}

{% block title %}
    Membre -
{% endblock title %}

{% block js %}
    <script src="http://localhost:3000/faye/client.js"></script>
    <script src="{{ asset('assets/external/libs/autogrow-textarea/jquery.autogrowtextarea.min.js') }}"></script>
    <script src="{{ asset('assets/external/libs/remarkable-bootstrap-notify/bootstrap-notify.min.js') }}"></script>
    <script src="{{ asset('assets/external/libs/waypoints/lib/jquery.waypoints.min.js') }}"></script>
    <script src="{{ asset('assets/app/js/activity.js') }}"></script>
    <script src="{{ asset('assets/external/libs/angular/angular.js') }}"></script>
    <script src="{{ asset('assets/external/libs/angular-send-feedback/dist/angular-send-feedback.js') }}"></script>
    <script src="{{ asset('assets/app/js/feedback.js') }}"></script>
    <script src="{{ asset('assets/app/js/all-activity.js') }}"></script>
{% endblock js %}

{% block body %}
    <div class="col-md-4 activity-form">
        <div class="row">
            {% include('SBActivityBundle:activity:form_add.html.twig') %}
        </div>
    </div>
    <div class="col-md-8" id="container-activity" data-total-ativity="{{ number_of_activity }}">
        {% include('SBActivityBundle:activity:activity.html.twig') %}
    </div>
{% endblock body %}