{% extends 'SBCoreBundle::layout.html.twig' %}

{% import 'SBUserBundle:Utils:user.html.twig' as user_macro %}

{% block title %}
    Mon profil -
{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='?uglifycss' filter='cssrewrite'
    'assets/app/css/profil.css'
    'assets/external/libs/bootstrap-toggle/css/bootstrap-toggle.min.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock stylesheets %}


{% block js %}
    {% javascripts filter='?uglifyjs2'
        'http://localhost:3000/faye/client.js'
        'assets/external/libs/angular/angular.min.js'
        'assets/external/libs/angular-send-feedback/dist/angular-send-feedback.min.js'
        'assets/external/libs/autogrow-textarea/jquery.autogrowtextarea.min.js'
        'assets/external/libs/remarkable-bootstrap-notify/bootstrap-notify.min.js'
        'assets/external/libs/waypoints/lib/jquery.waypoints.min.js'
        'assets/external/libs/bootstrap-toggle/js/bootstrap-toggle.min.js'
        'assets/app/js/app.js'
        'assets/app/js/user.js'
        'assets/app/js/profil.js'
        'assets/app/js/activities.js'
        'assets/app/js/likes.js'
        'assets/app/js/comments.js'
        'assets/app/js/activity.js'
        'assets/app/js/my-activity.js'
        'assets/app/js/feedback.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <!--<script src="{{ asset('assets/external/libs/jquery-ui/jquery-ui.min.js') }}"></script>-->
    <!--<script src="{{ asset('assets/external/libs/JQ-Image-Drag/script/jquery.imagedrag.min.js') }}"></script>-->
{% endblock js %}

{% block body %}
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <article class="no-padding">
                    <div id="blocks-couverture">
                        <img src="http://www.photo-paysage.com/images_accueil/Plus-belles-photos-de-nature.jpg"
                             class="img-responsive" id="currentCover" alt="Image couverture">
                        <span>
                            <i class="fa fa-pencil-square fa-3x" aria-hidden="true" data-toggle="modal"
                               data-target="#modalCover"></i>
                        </span>
                    </div>
                    <div id="blocks-profil">
                        {{ user_macro.getAvatar(app.user.avatar, 'myProfil') }}
                    </div>
                    <div id="blocks-nav-profil">
                        <ul>
                            <li><h4 id="zone-profil-name">{{ user_macro.getUserProfilName() }}</h4></li>
                            <li>
                                <a href="#" class="btn btn-infos" id="btnSubmitNewActu">
                                    <i class="fa fa-cogs" aria-hidden="true"></i> Mes paramètres
                                </a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-infos" id="btnSubmitNewActu">
                                    <i class="fa fa-picture-o" aria-hidden="true"></i> Mes images
                                </a>
                            </li>
                        </ul>
                    </div>
                </article>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3 ml-20 mr-50 mt-20">
                        <div class="row">
                            <div class="col-md-12 activity pb-20 no-pr" id="blocks-user-information">
                                <h4><i class="fa fa-info" aria-hidden="true"></i> Mes informations</h4>
                                <div class="row">
                                    <div class="col-md-12">
                                        {{ user_macro.getConfidentiality(app.user.confidentiality.firstname, app.user.firstname, 'Prenom') }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        {{ user_macro.getConfidentiality(app.user.confidentiality.lastname, app.user.lastname, 'Nom') }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        {{ user_macro.getConfidentiality(app.user.confidentiality.pays, app.user.pays, 'Pays') }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        {{ user_macro.getConfidentiality(app.user.confidentiality.region, app.user.region, 'Region') }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        {{ user_macro.getConfidentiality(app.user.confidentiality.ville, app.user.ville, 'Ville') }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 mt-20">
                        <div class="row">
                            {% set profil = true %}
                            {% include('SBActivityBundle:activity:form_add.html.twig') %}
                        </div>
                        <div id="container-activity" data-total-ativity="{{ number_of_activity }}">
                            {% include('SBActivityBundle:activity:activity.html.twig') %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Cover -->
    <div class="modal fade" id="modalCover" tabindex="-1" role="dialog" aria-labelledby="modalCoverLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalCoverLabel">Modifier ma couverture</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <h5 class="text-center">Image de couverture actuelle :</h5>
                            <img src="http://www.photo-paysage.com/images_accueil/Plus-belles-photos-de-nature.jpg"
                                 alt="Image de couverture actuelle" class="img-responsive center-block"
                                 style="max-height: 200px"/>
                        </div>
                        <hr>
                        <div class="col-xs-12" id="test">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-primary" id="btnChangeCover">Sauvegarder</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Avatar -->
    <div class="modal fade" id="modalAvatar" tabindex="-1" role="dialog" aria-labelledby="modalAvatarLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalAvatarLabel">Modifier mon avatar</h4>
                </div>
                {{ form_start(form_avatar) }}
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h5 class="text-center">Avatar actuel :</h5>
                                    {{ user_macro.getAvatar(app.user.avatar, 'myProfil', 'inModal') }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <label class="sr-only" for="btn-toggle-avatar-visibility">ff</label>
                                    <input id="btn-toggle-avatar-visibility" class="btn-toggle" checked type="checkbox">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="col-xs-12">
                            {{ form_widget(form_avatar.file) }}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-primary" id="btnChangeCover">Sauvegarder</button>
                </div>
                {{ form_end(form_avatar) }}
            </div>
        </div>
    </div>
{% endblock body %}
